<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar de Color con Javascript</title>
</head>

<body>
    
    <h1>Bienvenido a mi pagina web</h1>
    <button onclick="cambiarColor()">Cambiar color de Fondo</button>

    <script>
        function cambiarColor(){
            //Generar un color aleatorio en formato RGB
            var r = Math.floor(Math.random() * 256);
            var g = Math.floor(Math.random() * 256);
            var b = Math.floor(Math.random() * 256);
            var colorRGB = `rgb(${r},${g},${b})`;

            console.log(colorRGB);

            //Cambiar el color de fondo de la pagina 
            document.body.style.backgroundColor = colorRGB;
        }
    </script>

</body>

</html>